/* define colors */
/* define fonts */
/* global definitions */
* {
  margin: 0;
  padding: 0; }

h1, #samples-content .section, #resume-content .section, #contact-content .section {
  font-family: Oswald, Arial, sans-serif;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 2px; }

p, #samples-content .title, #resume-content .title, #contact-content .title, #samples-content ul li, #resume-content ul li, #contact-content ul li, #footer {
  font-family: "Open sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  padding-bottom: 16px; }

p.last, #samples-content .last.title, #resume-content .last.title, #contact-content .last.title, #samples-content ul li.last, #resume-content ul li.last, #contact-content ul li.last, .last#footer {
  padding-bottom: 0; }

/* elements */
#header #site-title {
  margin: 20px 0 20px 0; }

#navigation {
  background-color: #cfcfcf;
  border-top: 1px solid #aaa; }
  #navigation ul#nav {
    padding: 15px 0 15px 0; }
    #navigation ul#nav li {
      display: inline;
      font-family: "Open sans", Arial, sans-serif;
      font-size: 14px;
      letter-spacing: 2px;
      margin: 10px 25px 10px 0;
      position: relative;
      padding: 0 0 15px 0; }
      #navigation ul#nav li a {
        color: #606060;
        text-decoration: none; }
        #navigation ul#nav li a:hover {
          text-decoration: underline; }
      #navigation ul#nav li.active a {
        background-color: #cfcfcf;
        color: #606060; }
      #navigation ul#nav li.active:before, #navigation ul#nav li.active:after {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        border-color: transparent;
        border-top-color: #cfcfcf;
        border-width: 10px;
        margin-left: -10px; }
      #navigation ul#nav li.active:before {
        border-color: rgba(170, 170, 170, 0);
        border-top-color: #606060;
        border-width: 11px;
        margin-left: -11px; }
  #navigation ul#contact {
    padding: 15px 0 15px 0; }
    #navigation ul#contact li {
      display: inline;
      font-family: "Open sans", Arial, sans-serif;
      font-size: 14px;
      margin: 10px 10px 10px 0;
      color: #606060; }
      #navigation ul#contact li a {
        color: #606060;
        text-decoration: none; }
        #navigation ul#contact li a:hover {
          text-decoration: underline; }

#home-content {
  background-color: #777;
  padding: 200px 0 100px 0; }
background-image: url("portfolio/images/bg.png");
  #home-content #home-text p.big-title, #home-content #home-text #samples-content .big-title.title, #samples-content #home-content #home-text .big-title.title, #home-content #home-text #resume-content .big-title.title, #resume-content #home-content #home-text .big-title.title, #home-content #home-text #contact-content .big-title.title, #contact-content #home-content #home-text .big-title.title, #home-content #home-text #samples-content ul li.big-title, #samples-content ul #home-content #home-text li.big-title, #home-content #home-text #resume-content ul li.big-title, #resume-content ul #home-content #home-text li.big-title, #home-content #home-text #contact-content ul li.big-title, #contact-content ul #home-content #home-text li.big-title, #home-content #home-text .big-title#footer {
    font-family: Oswald;
    font-size: 52px;
    line-height: 1em;
    letter-spacing: 5px;
    color: #ffffff; }
  #home-content #home-text p.tech-writer, #home-content #home-text #samples-content .tech-writer.title, #samples-content #home-content #home-text .tech-writer.title, #home-content #home-text #resume-content .tech-writer.title, #resume-content #home-content #home-text .tech-writer.title, #home-content #home-text #contact-content .tech-writer.title, #contact-content #home-content #home-text .tech-writer.title, #home-content #home-text #samples-content ul li.tech-writer, #samples-content ul #home-content #home-text li.tech-writer, #home-content #home-text #resume-content ul li.tech-writer, #resume-content ul #home-content #home-text li.tech-writer, #home-content #home-text #contact-content ul li.tech-writer, #contact-content ul #home-content #home-text li.tech-writer, #home-content #home-text .tech-writer#footer {
    padding-top: 24px;
    font-family: Oswald;
    font-size: 24px;
    font-style: italic;
    letter-spacing: 2px;
    color: #ffffff; }
  #home-content #home-text p.content, #home-content #home-text #samples-content .content.title, #samples-content #home-content #home-text .content.title, #home-content #home-text #resume-content .content.title, #resume-content #home-content #home-text .content.title, #home-content #home-text #contact-content .content.title, #contact-content #home-content #home-text .content.title, #home-content #home-text #samples-content ul li.content, #samples-content ul #home-content #home-text li.content, #home-content #home-text #resume-content ul li.content, #resume-content ul #home-content #home-text li.content, #home-content #home-text #contact-content ul li.content, #contact-content ul #home-content #home-text li.content, #home-content #home-text .content#footer {
    color: #ffffff; }
#home-content { background-image: url("portfolio/images/bg.png"); }

#about-content {
  background-color: #777;
  padding: 100px 0 100px 0; }
  #about-content #about-box {
    background-color: #ffffff;
    border: 1px solid #555; }
    #about-content #about-box p.about, #about-content #about-box #samples-content .about.title, #samples-content #about-content #about-box .about.title, #about-content #about-box #resume-content .about.title, #resume-content #about-content #about-box .about.title, #about-content #about-box #contact-content .about.title, #contact-content #about-content #about-box .about.title, #about-content #about-box #samples-content ul li.about, #samples-content ul #about-content #about-box li.about, #about-content #about-box #resume-content ul li.about, #resume-content ul #about-content #about-box li.about, #about-content #about-box #contact-content ul li.about, #contact-content ul #about-content #about-box li.about, #about-content #about-box .about#footer {
      font-family: Oswald;
      font-size: 72px;
      letter-spacing: 2px;
      color: #606060;
      padding-top: 50px; }
    #about-content #about-box p.about-content, #about-content #about-box #samples-content .about-content.title, #samples-content #about-content #about-box .about-content.title, #about-content #about-box #resume-content .about-content.title, #resume-content #about-content #about-box .about-content.title, #about-content #about-box #contact-content .about-content.title, #contact-content #about-content #about-box .about-content.title, #about-content #about-box #samples-content ul li.about-content, #samples-content ul #about-content #about-box li.about-content, #about-content #about-box #resume-content ul li.about-content, #resume-content ul #about-content #about-box li.about-content, #about-content #about-box #contact-content ul li.about-content, #contact-content ul #about-content #about-box li.about-content, #about-content #about-box .about-content#footer {
      padding-bottom: 50px; }

#samples-content, #resume-content, #contact-content {
  background-color: #777;
  padding: 100px 0 100px 0; }
  #samples-content .spacer, #resume-content .spacer, #contact-content .spacer {
    padding-top: 100px; }
  #samples-content .halfspacer, #resume-content .halfspacer, #contact-content .halfspacer {
    padding-top: 50px; }
  #samples-content .section, #resume-content .section, #contact-content .section {
    padding-bottom: 20px;
    color: white;
    width: 100%;
    border-bottom: 2px solid #606060;
    line-height: 0.1em;
    margin-top: 20px;
    margin-bottom: 50px; }
  #samples-content .title, #resume-content .title, #contact-content .title {
    font-size: 16px;
    text-align: center;
    padding-top: 10px; }
    #samples-content .title a, #resume-content .title a, #contact-content .title a {
      text-decoration: none;
      color: white; }
      #samples-content .title a:hover, #resume-content .title a:hover, #contact-content .title a:hover {
        text-decoration: underline; }
  #samples-content a, #resume-content a, #contact-content a {
    text-decoration: none;
    color: white; }
    #samples-content a:hover, #resume-content a:hover, #contact-content a:hover {
      text-decoration: underline; }
  #samples-content img, #resume-content img, #contact-content img {
    width: 100%;
    height: 100%; }
  #samples-content p, #samples-content .title, #samples-content ul li, #resume-content ul #samples-content li, #contact-content ul #samples-content li, #samples-content #footer, #resume-content p, #resume-content .title, #samples-content ul #resume-content li, #resume-content ul li, #contact-content ul #resume-content li, #resume-content #footer, #contact-content p, #contact-content .title, #samples-content ul #contact-content li, #resume-content ul #contact-content li, #contact-content ul li, #contact-content #footer {
    color: white; }
  #samples-content ul, #resume-content ul, #contact-content ul {
    padding-left: 18px; }
    #samples-content ul li, #resume-content ul li, #contact-content ul li {
      padding-bottom: 0;
      padding-left: 5px; }

#footer {
  height: 100px;
  background-color: #cfcfcf;
  padding-top: 50px; }

.hidden {
  display: none; }

/*# sourceMappingURL=donnie.css.map */
